@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 100vw;
    padding: 1.7rem 1rem;
    background-color: #efeeea;
}

.menu-btn i {
    font-size: 1.8rem;
}

.banner {
    width: 100%;
    height: auto;
    padding-bottom: 1.4rem;
    background-color: #efeeea;
}

.banner .banner-body {
    margin: 0 1rem;
}

.banner-image img {
    width: 100%;
    height: 50%;
}

.banner-content {
    margin: 2rem 0;
}

.banner-content h1 {
    font-size: 1.5rem;
    word-spacing: 1px;
    color: #2d2d2d;
}

.banner-content p {
    font-size: 1.062rem;
    margin: 1.1rem 0;
    text-align: justify;
    color: #737060;
}

.banner-content .banner-points {
    list-style: none;
}

.banner-points li {
    display: flex;
    align-items: center;
    margin-bottom: .6rem;
}

.banner-points li span {
    margin-left: .8rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #5a5745;
}

.email-form input {
    width: 55%;
    margin-right: .8rem;
    padding: 1rem .3rem;
    outline: transparent;
    border: 1px solid grey;
    border-radius: 5px;
}

.email-form input::placeholder {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(184, 187, 189);
}

.email-form button {
    border: transparent;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    padding: 1rem .3rem;
    background-color: black;
    color: white;
}

.brands {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brands-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands img {
    width: 31%;
    height: 26.4px;
    margin-right: .6rem;
}

.brands img:nth-child(3) {
    margin-right: 0;
}

.brands-img img:nth-child(4), .brands-img img:nth-child(5), .brands-img img:nth-child(6), .brands-img img:nth-child(7), .brands-img img:nth-child(8) {
    display: none;
}

.escrow {
    width: 100%;
    margin: 1rem 0;
    padding: 0 1rem;
}

.text-editor {
    margin: 3.5rem 1rem;
}

.escrow .escrow-body {
    background-color: #efeeea;
    border-radius: 8px;
    padding: 1.4rem 1.4rem 0 1.4rem;
}

.escrow-body .escrow-content h1, .text-editor-content h1 {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

.escrow-content p, .text-editor-content p {
    text-align: justify;
    font-size: 1.062rem;
}

.escrow-content .link, .text-editor-content .editor-link {
    margin: 1.5rem 0;
}

.link a, .editor-link a {
    font-size: 1rem;
    color: #6e6d67;
}

.escrow-img img, .editor-img img {
    width: 100%;
}

.footer {
    padding: 1rem;
    background-color: black;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "footer-top footer-top footer-top" "link-1 . link-2" "link-3 . link-4";
    column-gap: 10px;
    row-gap: 20px;
}

.footer-top {
    grid-area: footer-top;
}

.footer-link.one {
    grid-area: link-1;
}

.footer-link.two {
    grid-area: link-2;
}

.footer-link.three {
    grid-area: link-3;
}

.footer-link.four {
    grid-area: link-4;
}

.footer-link ul {
    list-style: none;
}

.footer-link ul li a {
    text-decoration: none;
    display: inline-block;
    margin-top: .8rem;
    color: #999999;
}

.footer-content .footer-top h2 {
    color: white;
    margin: .5rem 0;
}

.footer-content h3 {
    color: white;
    letter-spacing: 1px;
}

.footer-content .footer-top p {
    color: #999999;
    font-size: 1.062rem;
    letter-spacing: normal;
    text-align: justify;
}

@media only screen and (min-width:480px) {
    .header {
        padding: 1.7rem 1.2rem;
    }
    .banner .banner-body {
        margin: 0 1.2rem;
    }
    .banner-content h1 {
        font-size: 1.6rem;
    }
    .banner-content p {
        font-size: 1.1rem;
    }
    .banner-points li span {
        font-size: 1.162rem;
    }
    .email-form input::placeholder {
        font-size: 1.1rem;
    }
    .email-form button {
        font-size: 16px;
    }
    .brands {
        padding: 1.2rem;
    }
    .escrow {
        padding: 0 1.2rem;
    }
    .text-editor {
        margin: 3.5rem 1.2rem;
    }
    .escrow-body .escrow-content h1, .text-editor-content h1 {
        font-size: 1.6rem;
    }
    .escrow-content p, .text-editor-content p {
        text-align: justify;
        font-size: 1.1rem;
    }
    .link a, .editor-link a {
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .footer {
        padding: 1.2rem;
    }
    .footer-content .footer-top p {
        font-size: 1.162rem;
    }
    .footer-link ul li a {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width:600px) {
    .header {
        padding: 1.7rem 1.4rem;
    }
    .banner .banner-body {
        margin: 0 1.4rem;
    }
    .banner-content h1 {
        font-size: 2rem;
    }
    .banner-content p {
        font-size: 1.2rem;
    }
    .banner-points li span {
        font-size: 1.262rem;
    }
    .email-form input::placeholder {
        font-size: 1.1rem;
    }
    .email-form button {
        font-size: 16px;
    }
    .brands {
        padding: 1.4rem;
    }
    .escrow {
        padding: 0 1.4rem;
    }
    .escrow .escrow-body {
        padding: 2rem 2rem 0 2rem;
    }
    .text-editor {
        margin: 3.5rem 1.4rem;
    }
    .escrow-body .escrow-content h1, .text-editor-content h1 {
        font-size: 1.8rem;
    }
    .escrow-content p, .text-editor-content p {
        text-align: justify;
        font-size: 1.2rem;
    }
    .link a, .editor-link a {
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .footer {
        padding: 1.4rem;
    }
    .footer-content .footer-top p {
        font-size: 1.262rem;
    }
    .footer-link ul li a {
        font-size: 1.2rem;
    }
    .footer-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "footer-top footer-top link-1 link-2" "link-3 link-4 . .";
        column-gap: 40px;
        row-gap: 30px;
    }
    .one, .two {
        margin: .5rem 0;
    }
}

@media only screen and (min-width:768px) {
    .header {
        padding: 1.8rem 1.5rem;
    }
    .logo h2 {
        font-size: 1.8rem;
    }
    .menu-btn i {
        font-size: 2rem;
    }
    .banner .banner-body {
        margin: 0 1.5rem;
    }
    .banner-content h1 {
        font-size: 2.1rem;
    }
    .banner-content p {
        font-size: 1.4rem;
    }
    .banner-points li span {
        font-size: 1.5rem;
    }
    .email-form input {
        padding: 1.162rem .3rem;
    }
    .email-form input::placeholder {
        font-size: 1.162rem;
    }
    .email-form button {
        font-size: 18px;
    }
    .brands {
        padding: 1.5rem;
    }
    .brands-img img:nth-child(4), .brands-img img:nth-child(5) {
        display: inline-block;
    }
    .brands img, .brands img:nth-child(3) {
        width: 19%;
        margin-right: .6rem;
    }
    .brands img:nth-child(5) {
        margin-right: 0;
    }
    .escrow {
        padding: 0 1.5rem;
    }
    .escrow .escrow-body {
        padding: 2.1rem 2.1rem 0 2.1rem;
    }
    .text-editor {
        margin: 3.5rem 1.5rem;
    }
    .escrow-body .escrow-content h1, .text-editor-content h1 {
        font-size: 2rem;
    }
    .escrow-content p, .text-editor-content p {
        text-align: justify;
        font-size: 1.4rem;
    }
    .link a, .editor-link a {
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .footer {
        padding: 1.5rem;
    }
    .footer-content .footer-top p {
        font-size: 1.4rem;
    }
    .footer-top h2 {
        font-size: 1.6rem;
    }
    .footer-link h3 {
        font-size: 1.5rem;
    }
    .footer-link ul li a {
        font-size: 1.4rem;
    }
    .footer-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "footer-top footer-top link-1 link-2" "link-3 link-4 . .";
    }
    .one, .two {
        margin: .5rem 0;
    }
}

@media only screen and (min-width:810px) {
    .header {
        padding: 3rem 4rem;
    }
    .banner .banner-body {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin: 0 4rem;
    }
    .banner-image {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
    .banner-image img {
        width: 85%;
    }
    .banner-content-container {
        width: 45%;
    }
    .banner-content {
        margin: 0;
    }
    .banner-content h1 {
        font-size: 1.8rem;
    }
    .banner-content p {
        font-size: 1rem;
    }
    .banner-points li span {
        font-size: 1.062rem;
    }
    .email-form {
        margin-top: 1.2rem;
    }
    .email-form input {
        padding: .7rem .3rem;
    }
    .email-form input::placeholder {
        font-size: 1rem;
    }
    .email-form button {
        font-size: 16px;
        padding: .7rem .3rem;
    }
    .brands {
        padding: 2rem 4rem;
    }
    .escrow {
        padding: 0 4rem;
    }
    .escrow .escrow-body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 2.1rem 2.1rem 0 2.1rem;
    }
    .text-editor {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        margin: 3.5rem 4rem;
    }
    .escrow-content, .escrow-img, .text-editor-content, .editor-img {
        width: 50%;
    }
    .escrow-body .escrow-content h1, .text-editor-content h1 {
        font-size: 1.4rem;
    }
    .escrow-content p, .text-editor-content p {
        text-align: justify;
        font-size: 1.1rem;
    }
    .link a, .editor-link a {
        font-size: 1.1rem;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .footer {
        width: 100%;
        padding: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-content .footer-top p {
        margin-top: 1rem;
        font-size: 1.1rem;
    }
    .footer-top h2 {
        font-size: 1.6rem;
    }
    .footer-link h3 {
        font-size: 1.3rem;
    }
    .footer-link ul li a {
        font-size: 1.1rem;
    }
    .footer-content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "footer-top footer-top link-1 link-2" "link-3 link-4 . .";
        column-gap: 40px;
        row-gap: 30px;
    }
    .one, .two {
        margin: .5rem 0;
    }
}

@media only screen and (min-width:1180px) {
 
    .banner-image img {
        height: 500px;
    }
    
    .email-form {
        margin-top: 1.4rem;
    }
    .brands {
        padding: 4rem;
    }
    .brands-img img:nth-child(6), .brands-img img:nth-child(7), .brands-img img:nth-child(8) {
        display: inline-block;
    }
    .brands img, .brands img:nth-child(5) {
        width: 12.5%;
        margin-right: .6rem;
    }
    .brands img:nth-child(8) {
        margin-right: 0;
    }
    .footer-content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: "footer-top footer-top link-1 link-2 link-3 link-4";
        column-gap: 30px;
    }
    .footer-top {
        margin-right: 2rem;
    }
    .footer-link{
        display: flex;
        justify-content: center;
    }
    .three, .four {
        margin: .5rem 0;
    }
}